@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1 / .75;
    @include tablet {
        aspect-ratio: 1 / .5;
    }
    @include laptop{
        aspect-ratio: 1 / .4;
    }
    @include desktop-med{
        aspect-ratio: 1 / .3;
    }
    .controls{
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: nth($margins, 2);
        .btn{
            border: none;
            background: transparent;
            cursor: pointer;
            .icon{
                filter: drop-shadow(0 0 10px rgb(129, 129, 129));
                width: 15px;
                @include tablet{
                    width: 25px;
                }
                @include laptop{
                    width: 30px;
                }
            }
        }
    }
    .picture{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: nth($radius, 1);
    }
}